<html>
<header>
    <link href="css/main_styles.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="client.js" type="text/javascript"></script>
</header>
<body>
<div style="margin:30px;">
<table id="main_table" class="table table-bordered table-hover table-striped" style="border-radius:5px;">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Type</th>
        <th>Value</th>
        <th>Deletion</th>
    </tr>
    <? table.forEach(function(row){ ?>
    <tr >
        <td><input class ="form-control" type="text" value="<?=row.Id[0]?>"></td>
        <td><input class ="form-control" type="text" value="<?= row.Name[0] ?>"></td>
        <td><input class ="form-control" type="text" value="<?= row.Description[0] ?>"></td>
        <td><select class="typeSelection form-control">
                <option <?= (row.Type[0] == "System.String" ? "selected" : "") ?>>System.String</option>
                <option <?= (row.Type[0] == "System.Int32" ? "selected" : "") ?>>System.Int32</option>
                <option <?= (row.Type[0] == "System.Boolean" ? "selected" : "") ?>>System.Boolean</option>
            </select></td>
        <td><input  class="value_Class form-control" type="<?= row.Type[0] == 'System.Boolean' ? 'checkbox' : 'text' ?>"
                   name="<?= row.Type[0] == 'System.Int32' ? 'number' : 'text' ?>" <?= (row.Type[0] == "System.Boolean" && row.Value[0].toLowerCase() == "true" ? "checked" : "value=" + row.Value[0] ) ?>
            ></td>
        <td><button class="remove_row btn btn-primary btn-sm">delete</button></td>
    </tr>
    <? }) ?>
</table>

<div class="buttonsDiv"><button class="btn btn-primary btn-sm" id="addString">Add string</button> <button class="btn btn-primary btn-sm" type="submit" id="saveData">Save data</button></div>
<div id="emptyError" class="errorDiv"><h3>Поле не может быть пустым!!!</h3></div>
<div id="stringError" class="errorDiv" ><h3>string must be less or equal 10!!!</h3></div>
<div id="pasteError" class="errorDiv" ><h3>В int поле можно вставлять только числа!!!</h3></div>
<div id="intError" class="errorDiv"><h3>int value must be between [-256,256]!!!</h3></div>
<div id="boolError" class="errorDiv"><h3>At least one boolean input must have value "True"!!!!</h3></div>
</div>
</body>
</html>